<a href="https://colab.research.google.com/github/ricardoaquiceno/Intro_Pandas_Numpy/blob/main/PandasBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

##Data Series

In [ ]:
#pd.Series(List,index=idex_list) Allows me to create a series with the mentioned indexes. If I do not give Any indexes
# the series automatically assigns indexes as an ndarray
psg_players= pd.Series(['Navas','Mbappe','Neymar','Messi'],index=[1,7,10,30])
series_no_index=pd.Series(['This','is','a','test'])
print(psg_players)
print(series_no_index)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object
0    This
1      is
2       a
3    test
dtype: object

In [ ]:
#We can also create series from dictionanies as pd.Series(dictionary) as the dictionaries already have 'Keys' these will work as the indexes
my_di={1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
series_from_d=pd.Series(my_di)
print(series_from_d)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [ ]:
# We can index the series with [index], but be careful with the slicing as for the slicing it takes into account indexes from 0 to n-1 being n the 
#size of the array 
my_di={1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
series_from_d=pd.Series(my_di)
print(series_from_d[1:3]) #as can be seen, this slicing brings hiden or native indexes 1 and 2, which are series indexes 7 and 10. 
print(series_from_d[7:30]) #as you see,this slicing brings nothing

7     Mbappe
10    Neymar
dtype: object
Series([], dtype: object)

#Data Frame

In [ ]:
#The comand for a Data frame is  pd.DatFrame(Dictionary,index=Index_List)
# If no index list is provided, the DataFrame will have the indexes from 0 to n-1 by default
new_dict={'Player':['Navas','Mbappe','Neymar','Messi'],
          'Height':[1.72,1.80,1.75,1.65],
          'Goals': [2,200,220,500]}
df_default_indexes= pd.DataFrame(new_dict)
df_default_indexes

   Player  Height  Goals
0   Navas    1.72      2
1  Mbappe    1.80    200
2  Neymar    1.75    220
3   Messi    1.65    500

In [ ]:
new_dict={'Player':['Navas','Mbappe','Neymar','Messi'],
          'Height':[1.72,1.80,1.75,1.65],
          'Goals': [2,200,220,500]}
df_specific_indexes= pd.DataFrame(new_dict,index=[1,7,10,30])
df_specific_indexes

    Player  Height  Goals
1    Navas    1.72      2
7   Mbappe    1.80    200
10  Neymar    1.75    220
30   Messi    1.65    500

In [ ]:
#Two useful methods are pd.index and pd.columns tht show the indexes and the colums
print(df_specific_indexes.columns)
print(df_specific_indexes.index)

Index(['Player', 'Height', 'Goals'], dtype='object')
Int64Index([1, 7, 10, 30], dtype='int64')

In [ ]:
#The basc indexing for a data frame is from the colums, thus DataFrame[Column_name]
df_specific_indexes['Player'][1:3]

7     Mbappe
10    Neymar
Name: Player, dtype: object

In [ ]:
#Nonetheless, if you want a specific pair, there are several methods that you can use, but as a first aproach you can use DataFrame[Column_name][index]
df_specific_indexes['Player'][7]

'Mbappe'

#Read Files with Pandas

The files needed for this part are here: https://drive.google.com/drive/folders/1lmb5hepz4uaWkrALetCZkxnMdFD_i1Id?usp=sharing 
you may add them to your workspace to test this. 

Where to find datasets to play? 

https://www.kaggle.com/

Other resources: 


https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

https://pandas.pydata.org/docs/reference/api/pandas.read_json.html

In [ ]:
#with pd.read_file_typ("file_path") one can read lotsof different types of files

# for instance a CSV file can be read as:
pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv")
#in the following codes we will see some options that we can add to the read

In [ ]:
# If the delimiter of the csv file is not ',' one must explicitly inform that to the 
# read function with pd.read_csv("file_path", sep=';')
pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv",sep=',')

In [ ]:
# Header E
#with header one can select which row want one to be the header, by default the row 0 is taken as header 
pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv",header=2)

In [ ]:
#one can use the option header=None and this will indicate to the read that there is no header so the
# read assigns indexes from 0 to #_of_cols-1 to the columns
pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv",header=None)

In [ ]:
# ont he other hand one can give names to a file that may not have names for the colums 
pd.read_csv("/content/Book1.csv",sep=';',names=["indice","altura","peso"])

In [ ]:
#with the option names=[] + header=0, one can modify the names of the colums of a file
pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv",header=0,names=['Namer', 'Authorere', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'])

In [ ]:
pd.read_csv("/content/Book1.csv",sep=';', header=None)

In [ ]:
#For Json files with non structured Data. 
pd.read_json('/content/hpcharactersdataraw_3d934e85-dfa4-42ec-8520-fadfbecae574.json')

# iloc y loc

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html


https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

In [ ]:
books=pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv",sep=',')

In [ ]:
#with this, one can index a specific pair "index","col", take into accoun that this returns 
# a series an not the value of the cell itself. 
print(books.loc[2,['Name']])

In [ ]:
#with loc we can also do slicing, take into account that the slicing with loc is inclusive,
#this means that [0:3] will bring the indexes 0,1,2,3
print(books.loc[0:3,['Name',"Price"]])

In [ ]:
#Here I am just modifying the Name an author o the 2nd index
books.loc[2,["Name","Author"]]=["OLOVORGO","Richi"]

In [ ]:
books

In [ ]:
#Iloc is almost the same as loc but with the indexes of the columns, so one indexes by numbers and not labels
#IMPORTANT iloc is non inclusive with the stop position, so it is like python base directly
#taking that into account, the below example brings row indexes 2,3 and col indexes 0,1
books.iloc[2:4,0:2]

## Add or delete data

In [ ]:
books=pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv",sep=',')

In [ ]:
#The method .head(n), helps to bring the n first rows in a dataset
books.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Range
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2

In [ ]:
#the method .drop(index=[]/labels=[],axis=), helps to delete specific column(axis=1) or row (axis=0) in an specific axis
# the default axis is 0, so it will by default delete rows, if one wants to delete a column 
# one MUST specify axis=1. 

books.drop([1,3,5], axis=0).head(4) #example for rows

,Name,Author,User Rating,Reviews,Price,Year,Genre,Range
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,0
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction,6

In [ ]:
#Also, one can only use a list without the need of the options "labels" or "index", as this 
#will be understood by the parameter defined in axis. 
books.drop(['Name','Price'],axis=1).head(4) #columns

               Author  User Rating  Reviews  Year        Genre  Range
0            JJ Smith          4.7    17350  2016  Non Fiction      0
1        Stephen King          4.6     2052  2011      Fiction      1
2  Jordan B. Peterson          4.7    18979  2018  Non Fiction      2
3       George Orwell          4.7    21424  2017      Fiction      3

In [ ]:
# remember that we can use list comprehesions or other methods to delete, for instance
# all the even rows
even=[i for i in range(1,201) if i%2==0]
print(even)
books.drop(even,axis=0).head(12)

In [ ]:
# Add Columns
# this is pretty simple, the sintax is my_dataframe['new column']=List_of_values 
# We must know that the List_of_Values MUST have the same dimensions as any other column, 
# this means, if we have 500 values, the list must have 500 values. 
books["Range"]=range(0,len(books.index))
books.head(15)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Range
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction,5
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction,6
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction,7
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction,8
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction,9
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction,10
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2,2010,Non Fiction,11
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction,12
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction,13
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction,14

In [ ]:
#We can use the methof .append() to append an additional row, take into account that 
#the additional row must be a Dictionary a pandas series or a Dataframe for it to work
#the ignore_index option is important to ignore the indexes from the row one wants to append if this is important.
new_row={'Name':'a','Author':'B','User Rating':7.5, 'Reviews':45,'Price':2,'Year':2015,'Genre':'fiction'}
books=books.append(new_row,ignore_index=True)

In [ ]:
#We can also use the method .loc['new_index_name']=List to add rows
books.loc[len(books.index+2)]=['C','D',7.5, 45,2,15,'Probando','2']

In [ ]:
books.tail(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Range
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,549.0
550,a,B,7.5,45,2,2015,fiction,NaN
551,C,D,7.5,45,2,15,Probando,2

#Null data management

In [ ]:
dictionary={'Col1':[1,2,3,np.nan],
 'Col2':[4,np.nan,6,7],
 'Col3':['a','b','c',None]}
df=pd.DataFrame(dictionary)

In [ ]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [ ]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [ ]:
#here we can create a matrix with 1's and 0s where the 1's are the Nan or None (for strings) Values
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [ ]:
df.fillna('No_Val')

     Col1    Col2    Col3
0     1.0     4.0       a
1     2.0  No_Val       b
2     3.0     6.0       c
3  No_Val     7.0  No_Val

In [ ]:
df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [ ]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

# Filtering with conditions

There are other ways also additional to the ones shown below, that s called "boolean indexing"

https://kanoki.org/2020/01/21/pandas-dataframe-filter-with-multiple-conditions/

In [ ]:
dictionary={'Col1':[1,2,3,np.nan],
 'Col2':[4,np.nan,6,7],
 'Col3':['a','b','c',None]}
df=pd.DataFrame(dictionary)
df=df.interpolate()

In [ ]:
# We can use the logic operators to generate conditions, whenever we define daa_fram['Col'] (condition)
# what we are creating is a series with booleans. 
mayor_cuatro=df['Col2']>4
mtres=df['Col1']>2

In [ ]:
mtres

0    False
1    False
2     True
3     True
Name: Col1, dtype: bool

In [ ]:
mayor_cuatro

0    False
1     True
2     True
3     True
Name: Col2, dtype: bool

In [ ]:
df[mayor_cuatro]#Here we are asking only for the ones that are true according to mayor_cuatro

In [ ]:
# If one wants to nest several conditions in the same filter without creating variables,
# one must put every condition in parenthesis as below
df[(df['Col1']>2) & (df['Col2']>4)]

In [ ]:
#en Pandas, puedo negar con ~
df[~mtres & mayor_cuatro]

# Funciones de Pandas

https://pandas.pydata.org/docs/user_guide/10min.html

In [ ]:
books=pd.read_csv("/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv")

###.info()
This panda method gives a lot of information about a dataFrame. It takes a summary of the details per column

In [ ]:
books.info()

###.describe()
It gives statistical data from the numerical columns, data as the mean, minimum value, maximum value and some percentiles.

In [ ]:
books.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

### .tail(n)
It shows the n-last entries from our data set. if none value is given, the default is 5 entries.

In [ ]:
books.tail(7)

### .memory_usage(deep=True)
This tells how much memory is the data from our dataframe using.

In [ ]:
,books.memory_usage(deep=True)

Index            128
Name           59737
Author         39078
User Rating     4400
Reviews         4400
Price           4400
Year            4400
Genre          36440
dtype: int64

### DataFrame['Col_X'].value_counts()
It counts the number of entries of each of the values in the desired column 'Col_X'.

In [ ]:
books['Author'].value_counts()

### .drop_duplicates()
deletes all the duplicates in the DataFrame

In [ ]:
#Here I am adding a duplicate 
duplicate_row= books.iloc[1]
print(duplicate_row)
books=books.append(duplicate_row,ignore_index=True)

In [ ]:
books

In [ ]:
books.drop_duplicates()

###.sort_values('Column')
Sorts the Dataframe according to an specific column, by default it sorts Ascending. Nonetheless, one can use the option ascending=False and it will order descending.

In [ ]:
books.sort_values('Year')

In [ ]:
books.sort_values('Year',ascending=False)

#.groupby('col')

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html


This pandas function allows me to GROUP the data from a datafram BY the entries of a certain column and apply some analysis functions such as:
.min()
.mean()
.max()
.sum()
...

In [ ]:
books=pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv")

In [ ]:
books.groupby('Author').count()

In [ ]:
books.groupby('Author').count().reset_index()

In [ ]:
books.groupby('Author').agg(['count','min']).reset_index()

In [ ]:
books.groupby('Author').agg({'Price':['count','min'],'Year':['min','max']})

In [46]:

a=books.groupby(['Genre','Year','Author']).count().reset_index()

In [ ]:
books.groupby('Author').agg({'Year':lambda x: [i-2000 for i in x]})

# Merge, Join and Concat

###.merge()

In [66]:
izq = pd.DataFrame({'key':['k0','k1','k2','k3'],
 'A':['A0','A1','A2','A3'],
 'B':['B0','B1','B2','B3']})

der = pd.DataFrame({'key':['k0','k1','k2','k4'],
 'C':['C0','C1','C2','C3'],
 'D':['D0','D1','D2','D3']})

In [68]:
izq

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [69]:
der

  key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k4  C3  D3

In [ ]:
#With how='left' we do a left merge which prioritizes the values from the Dataframe
# "izq" bringign them all as can be seen below. On the other hand, uses the 
# values of 'key' from "izq" to compare with the values of 'key' from "der"
# That's why you see that only the values for the keys k0,k1,k2 were brought
# from the DataFrame "der" and the 'key' k4 was left out  
izq.merge(der,on='key',how='left')

In [ ]:
#With how='right' we do a right merge which prioritizes the values from the Dataframe
# "der" bringign them all as can be seen below. On the other hand, uses the 
# values of 'key' from "der" to compare with the values of 'key' from "izq"
# That's why you see that only the values for the keys k0,k1,k2 were brought
# from the DataFrame "izq" and the 'key' k3 was left out  
izq.merge(der,on='key',how='right')

In [ ]:
# with how='inner' we do an inner merge wich compares the values of 'key' from
# izq and compares them to  the values of 'key' from der, only the ones who match
# are brought, as you can see below. 
izq.merge(der,on='key',how='inner')

In [ ]:
# with how='outer' we do an outer merge wich does not compare and just add everything,
# putting Nan to the colums where there are no values available.
izq.merge(der,on='key',how='outer')

### .join()
As will be seen below, this is almost the same as merge, the difference lies in the comparison, in join, it is made over the index, whilst in merge it was by a specifically selected column.

In [76]:
izq = pd.DataFrame({'A':['A0','A1','A2'],
 'B':['B0','B1','B2']},
 index=['k0','k1','k2'])

der = pd.DataFrame({'C':['C0','C1','C2'],
 'D':['D0','D1','D2']},
 index=['k0','k2','k3'])

In [77]:
izq

     A   B
k0  A0  B0
k1  A1  B1
k2  A2  B2

In [78]:
der

     C   D
k0  C0  D0
k2  C1  D1
k3  C2  D2

In [79]:
izq.join(der,how='left')

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [80]:
izq.join(der,how='right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

In [81]:
izq.join(der,how='inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1

In [82]:
izq.join(der,how='outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2

### .concat([DataFrame1,DataFrame2])

https://pandas.pydata.org/docs/reference/api/pandas.concat.html

In [93]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
 'B':['B0','B1','B2','B3'],
 'C':['C0','C1','C2','C3'],
 'D':['D0','D1','D2','D3'],})

df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
 'B':['B4','B5','B6','B7'],
 'C':['C4','C5','C6','C7'],
 'D':['D4','D5','D6','D7'],})

df3 = pd.DataFrame({'A':['A4','A5','A6'],
 'B':['B4','B5','B6'],
 'C':['C4','C5','C6'],
 })

In [85]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [84]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [96]:
pd.concat([df1,df2],ignore_index=True) #if one does not use the ignore_index option, the data frame
#will keep the indexes from the individual dataframes, creating duplicated indexes as you can see in the
#next code box

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [99]:
#Concat without ignore_index
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [94]:
# If one concatenates data frames with different dimensions, concat 
# fills with NaN's
pd.concat([df1,df3],ignore_index=True)

    A   B   C    D
0  A0  B0  C0   D0
1  A1  B1  C1   D1
2  A2  B2  C2   D2
3  A3  B3  C3   D3
4  A4  B4  C4  NaN
5  A5  B5  C5  NaN
6  A6  B6  C6  NaN

In [95]:
pd.concat([df1,df3],ignore_index=True,axis=1)

    0   1   2   3    4    5    6
0  A0  B0  C0  D0   A4   B4   C4
1  A1  B1  C1  D1   A5   B5   C5
2  A2  B2  C2  D2   A6   B6   C6
3  A3  B3  C3  D3  NaN  NaN  NaN

In [98]:
df3

    A   B   C
0  A4  B4  C4
1  A5  B5  C5
2  A6  B6  C6

#Pivot tables and Melt

#.pivot_table(index='colx',columns='coly',values='colz',aggfunc=)

With a pivot table, one can create a new data frame from another data frame, the special thing of this new dataframe is that the indexes will be colx values, the indexes of the columns will be the values of coly and the values in the cells will be the values from colz
aggfunc is the mean by default

In [100]:
books=pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv")

In [101]:
books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [102]:
books.pivot_table(index='Genre',columns='Year', values='User Rating')

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Genre,,,,,,,,,,,
Fiction,4.591667,4.615,4.619048,4.495238,4.545833,4.631034,4.652941,4.715789,4.737500,4.738095,4.820000
Non Fiction,4.576923,4.520,4.513793,4.558621,4.561538,4.609524,4.645455,4.654839,4.588462,4.617241,4.686667

###.melt(id_vars=,value_vars=)

Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

This function is useful to massage a DataFrame into a format where one or more columns are identifier variables (id_vars), while all other columns, considered measured variables (value_vars), are "unpivoted" to the row axis, leaving just two non-identifier columns, 'variable' and 'value'.

In [103]:
books=pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv")

In [108]:
books.melt(id_vars=['Year'],value_vars='Genre')

     Year variable        value
0    2016    Genre  Non Fiction
1    2011    Genre      Fiction
2    2018    Genre  Non Fiction
3    2017    Genre      Fiction
4    2019    Genre  Non Fiction
..    ...      ...          ...
545  2019    Genre      Fiction
546  2016    Genre  Non Fiction
547  2017    Genre  Non Fiction
548  2018    Genre  Non Fiction
549  2019    Genre  Non Fiction

[550 rows x 3 columns]

#.apply()

In [109]:
books=pd.read_csv("/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv")

In [110]:
def two_times(value):
    return value * 2

In [112]:
# Here, I am adding a new column where I duplicate the user rating
books['Rating_2'] = books['User Rating'].apply(two_times)

In [114]:
books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6

In [115]:
#one can also use lambda functions as the parameter of the function, will be the
# value in the column
books['Rating_2'] = books['User Rating'].apply(lambda x : x*3)

In [116]:
books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,14.1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,13.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,14.1
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,14.1
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,14.4

In [117]:
#But we can also use the whole dataframe and be creative and use several different syntaxis 
#that take into account other values from the data_frame
# as you can see, only the ratings when 'genre' is fiction were multiplied by 2 and x from the lambda 
# is the whole dataframe.
books['Rating_2'] = books.apply(lambda x : x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'],axis=1)

In [118]:
books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,4.7
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4.7
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4.8